@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html{   
    
    background-color: rgb(34, 33, 30);
}

*{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: calc(1.25vw + 1.25vh);
    line-height: 170%;
    color:white;
}

body{
    background-color: rgb(42, 46, 46);
    width:90%;
    margin:0 auto;
    border-bottom: 1px solid orange;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

strong{
    font-weight: 400;
}

h3, h3 i{
    font-size: calc(1.75vw + 1.75vh);
}

b{
    font-weight: 500;
}

section p{
    padding: 1em;
    margin: 0 auto;
    width: 90%;
}

.fancybox-button--play,
.fancybox-button--thumbs {
    display: none !important;
}
.fs-xl{
    font-size: 5rem;
}
.text-orange{
    color: orange;
}
.w-90{
    width: 90%;
}
#steam-button{
    height: 8vw;
    width: 8vh;
    fill: white;
}
.get-button{
    width: 20vw;
    height: 15vh; 
}

/* ------------NAV------------ */
#lambda-logo{
    height:8vw;
    width:8vh;
    fill: black;
}
.my-navbar{
    background-color: orange;
}
.my-navbar ul li a:hover,#lambda-logo:hover{
    color: white;
    fill: white;
} 

#navbar-valve{
    background-color: rgb(247 72 67);
}

#navbar-valve .navbar-brand svg{
    width: 8vw;
    height: 100%;
    fill: black;
}

/* ---------------------FIN-NAV----------------- */

/* ------------------------------MERCH---------------------------- */
#merch{
    background-color: rgb(34, 33, 30);
    border-top: 1px solid orange;
    border-bottom:1px solid orange;
    padding: 5rem 0;
    margin:5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 #merch a{
    display: flex;
    justify-content: center;
 }
 #merch a img{
    padding: 3em;
    width: 90%;
 }
/*---------------------FIN MERCH--------------------- */


/* --------FOOTER--------- */
.footer{
    margin-top:1em;
    padding-top: 1em;
    border-top: 1px solid orange;
    display: grid;
    grid-template-rows: 33vh;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas: "fl1 fl fl2";   
}
    .footer a{
        text-decoration: none;
        color: orange;
        font-size: 0.8em;
        min-width: 33%;
    }
    .footer a span{
        font-size: 1em;
        color:orange;
    }
    .footer ul{
        list-style: none;
        padding: 0;
    }
     .footer-list-1{
        grid-area: fl1;
        text-decoration: none;
    }
    .footer-list-1 svg{
        width: 1em;
    }
    .footer-list-2{
        grid-area: fl2;   
    }

    .footer-logo{
        width: 70%;
        grid-area: fl;
    }

    #footer-list-youtube{
        fill: red;
    }
    #footer-list-reddit{
        fill: rgb(255, 69, 0);
    }
    #footer-list-twitter{
        fill: rgb(29 161 242);
    }
    #footer-list-steam{
        fill: rgb(199, 213, 224)
    }
 /* --------FIN FOOTER--------- */
 
/* -----------------PORTADA + DESC DERECHA----------------- */
.cover-title-desc{
    background-color: rgb(34, 33, 30);
    display: flex;
    flex-direction: column;
    padding: 2vw;
    margin: 5vw 2vw;
    justify-content: space-evenly;
    align-items: center;    
}
    .cover-title-desc h1{
        font-size: 3vw;
        font-weight: 500;
        color: orange;
    }
    .cover-title-desc div{ 

        display: flex;
        align-items: center;
        /* width: 50vw; */
    }
    .cover-title-desc div p{
        width: 40vw;
        font-size: calc(1.5vw + 1.5vh);

    }
    .cover-title-desc div *{
        padding: 0 1vw;
    }
    .cover-title-desc div a img{
        width: 23vw;
        padding-bottom:1.7vw ;
    }

/* -----------------FIN PORTADA + DESC DERECHA----------------- */


/* -----------------FULL SAGA STEAMBTN----------------- */
#steam-section{
    border-bottom: 0;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align: center;
    padding:1rem 2rem;
    font-weight: 500;
}
    #full-saga-img{
        width:60vw;
        border: 1px solid orange; 
        margin-bottom: 5rem;             
    }
        
    #steam-logo-img{
        width: 70%;
    }
/* -----------------FIN FULL SAGA STEAMBTN----------------- */


/* -----------------IMAGEN+PARRAFO---------------------- */
.img-p{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;    
}
    .img-p p{
        width: 90%;
        font-size: calc(1.5vw + 1.5vh);
    }
    .img-p img{
        border: 1px solid orange;
        width: 100%;
    }
    .img-p a{
        margin:5rem 0;
        background-color: rgb(34, 33, 30);
        color: white;
    }
    #imgp-last-b{
        font-size:calc(1.5vw + 1.5vh) ;
        width:calc(25vw + 5vh) ;
    }
/* ----------------FIN-IMAGEN+PARRAFO----------------- */
 
    
/* ----------------------REVIEWS----------------------------- */

.grid-reviews{
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    grid-template-rows: 35em 25em;
    grid-template-areas:
    "img img img"
    "r1 r2 r3";
    margin-bottom: 10vh;

}
.grid-reviews img{
    width: 100%;
    grid-area: img;
}
/* ------------------REVIEWS END--------------------------- */

/* ---------------------------TECH INFO------------------------------- */
.tech-info{
    justify-self: center;
    display:grid;
    grid-template-columns: 30vw 55vw;
    grid-template-rows: 40vw 6vw;
    grid-template-areas:
    "img table"
    "img button";
    align-items: start;
    justify-items: start;
}
.tech-table{
    box-sizing: content-box;
    grid-area:table;
    width: 50vw;
}
    .tech-table td{
        font-size: calc(1vw + 1vh);
        font-weight: 500;
        border: 1px solid orange;
        text-align:center;
        padding: 0.8rem;
        background-color: rgb(34, 33, 30);
    }
    .tech-img{
        justify-self: center;
        grid-area: img;
        height: 40vw;
    }
    .tech-info .get-button{
        grid-area: button;
    }
/* ----------------------------TECH INFO END--------------------*/

/* ------------------EXPANSIONES-------------------------- */
.exps{
    width: 100%;
    margin:15vw 0;
}

.exps div{
    margin-bottom: 10rem;
    display: flex;
    flex-direction: row;
    height: 100vh;
}
    .exps div div{
        padding-top: 1vh;
        display: flex;
        width:50vw;
        flex-direction: column;
    }
        .exps div div img{
            border: 1px solid orange;
            align-self: center;
            width: 30vw;
        }
        .exps div div p{
            align-self:center;
            width: 70%;
            font-size: calc(1vh + 1.5vw);
        }
/* ------------------FIN-EXPANSIONES-------------------------- */

/* -------------PAGINA ALYX--------------- */

.div-trailer a img{
    width: max-content;
}


/* 1°  BREAKPOINT */
@media only screen and (min-width:1024px) {
    .my-navbar{
        height:15vh;
    }
    .my-navbar ul li a{
        border-left:1px solid black
    }

.carousel-control-prev,
.carousel-control-next {
  top: 40%;
  height: 65%;
  transform: translateY(-50%);
}
}

@media only screen and (min-width:768px) and (max-width:1024px){

    .div-header-resp{
        text-align: center;
    }

    .my-navbar{
        height: 10vw;
    }
    .my-navbar ul{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }

        .my-navbar div a{
            width: 10vw;
            padding-left:2.7vw ;
        }

        .my-navbar ul li {
            width: 100%;
            justify-content: center;
            text-align: center;
        }
        .my-navbar ul li:first-child{border-left:none;}

            .my-navbar ul li a{
                border-left: 1px solid black;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
            }
    .pie ul li a{
        font-size:2.2vw
    }     
    
    .reviews p, .reviews b{
        font-size: 1em;
        line-height: 1.7em;
    }  

    .footer a{
        font-size: 1em;
    }

.carousel-control-prev,
.carousel-control-next {
  top: 35%;
  height: 60%;
  transform: translateY(-50%);
}


}

@media only screen and (max-width:767.98px){
    *{
        font-size: calc(2.5vw + 1.2vh);
    }
    .my-navbar ul li a{
        color: black;
    }

    #merch{
        width: 90%;
    }

    #merch a img{
        padding: 1em;
        width: 100%
    }

    #full-saga-img{
        margin-bottom: 1em;
        width: 95%;
    }

    .get-button{
        width: 40vw;
        height: min-content;
    }

    .cover-title-desc{
        width: 90%;
    }
        .cover-title-desc div{
            flex-direction: column;
        }
        .cover-title-desc div p{
            width: 90%;
            font-size: calc(2.5vw + 1.2vh);
        }
        .cover-title-desc div a img{
            width: 60vw;
        }

    .footer{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 25vh 25vh;
        grid-template-areas: 
        "fl2 fl"
        "fl2 fl1";
    }
        .footer-list-1{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        .footer-list-1 span{
            display: none;
        }
        .footer-list-svg{
            font-size: 2em;
        }
        .footer-list-2{
            text-align: left !important;
        }

.section-div-workshop div{
    flex-direction: column;
    align-items: center;
}

.div-trailer a{
    padding: 0.5em 0.5em;
    width: 60%;
}

.carousel-control-prev,
.carousel-control-next {
  top: 25%;
  height: 20%;
  transform: translateY(-50%);
}
    
    
}


