@media only screen and (min-width:1024px) {
.my-navbar{
    height:15vh;
}
.my-navbar ul li a{
    border-left:1px solid black
}

.carousel-control-prev,
.carousel-control-next {
  top: 40%;
  height: 65%;
  transform: translateY(-50%);
}
}

@media only screen and (min-width:768px) and (max-width:1024px){
    .div-header-resp{
        text-align: center;
    }

    .my-navbar{
        height: 10vw;
    }
    .my-navbar ul{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }

        .my-navbar div a{
            width: 10vw;
            padding-left:2.7vw ;
        }

        .my-navbar ul li {
            width: 100%;
            justify-content: center;
            text-align: center;
        }
        .my-navbar ul li:first-child{border-left:none;}

            .my-navbar ul li a{
                border-left: 1px solid black;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
            }
    .pie ul li a{
        font-size:2.2vw
    }     
    .reviews p, .reviews b{
        font-size: 1em;
        line-height: 1.7em;
    }  
    .footer a{
        font-size: 1em;
    }
    #navbar-brand-valve{
        transform: translateX(-12px);
        scale: 1.5;
    }

.carousel-control-prev,.carousel-control-next {
  top: 35%;
  height: 60%;
  transform: translateY(-50%);
}

}

@media only screen and (max-width:767.98px){
    *{
        font-size: calc(2.5vw + 1.2vh);
    }
    .my-navbar ul li a{
        color: black;
    }

    #merch{
        width: 90%;
    }

    #merch a img{
        padding: 1em;
        width: 100%
    }

    #full-saga-img{
        margin-bottom: 1em;
        width: 95%;
    }

    .get-button{
        width: 40vw;
        height: min-content;
    }

    .cover-title-desc{
        width: 90%;
    }
        .cover-title-desc div{
            flex-direction: column;
        }
        .cover-title-desc div p{
            width: 90%;
            font-size: calc(2.5vw + 1.2vh);
        }
        .cover-title-desc div a img{
            width: 60vw;
        }

    .footer{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 25vh 25vh;
        grid-template-areas: 
        "fl2 fl"
        "fl2 fl1";
    }
        .footer-list-1{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            
        }
        .footer-list-1 span{
            display: none;
        }
        .footer-list-svg{
            font-size: 2em;
        }
        .footer-list-2{
            text-align: left !important;
            margin-left: 0.5em;
        }
        

.section-div-workshop div{
    flex-direction: column;
    align-items: center;
}

.div-trailer a{
    padding: 0.5em 0.5em;
    width: 60%;
}

.carousel-control-prev, .carousel-control-next{
    top: 25%;
    height: 20%;
    transform: translateY(-50%);
} 

.dispositivos{
    .row{
        div{
            &:nth-child(2){
                a{
                    margin: 2em 0;
                    padding: 3em 0;
                }
            }
            &:nth-child(3){
                img{
                    height: 70vh;
                }
            }
        }
    }
}

.juegos{
    a{
        @include flex(column,center,center);
        img{
            width: 70vw;
            height: 70vh;
        }
    }
}

.banner{
    display: none;
}




}