//mixins
@mixin textos ($size,$line,$color,$padding){
    font-size:$size;
    line-height: $line;
    color:$color;
    padding: $padding;
    font-family: $mainFont;
}

@mixin flex ($direction,$justify,$align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

