//variables globales

//colores
$mainColor:orange;
$whiteColor:white;
$blackColor:black;
$bgColor:rgb(34,33,30);
$bodyColor:rgb(42, 46, 46);
$valveRed:rgb(247,72,67);
$redditColor:rgb(255,69,0);
$youtubeColor:red;
$twitterColor:rgb(29 161 242);
$steamColor:rgb(199, 213, 224);
$steamBlue:rgb(102, 192, 244);

//font
$mainFont:'Roboto', sans-serif;
$mainFontWeight:200;
$mainFontSize:1.1em;
$mainLineHeight:150%;
$bFontSize:500;